---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
    	<div class="post-image">
        <img data-src="{{ post.images }}featured-image-small.jpg">
      </div>
      <div class="post-content">
        <h1><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="entry-date"><span><time datetime="{{ post.date }}">{{ post.date | date: "%A, %-d %B %Y" }}</time></span></div>
        <div class="entry">
          <div class="post-summary">{{ post.excerpt }}</div>
          <div class="post-categories">
          <p>
      		  {% if post %}
      		    {% assign categories = post.categories %}
      		  {% else %}
      		    {% assign categories = page.categories %}
      		  {% endif %}
      		  {% for category in categories %}
      		  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">&#8226; {{category}}</a>
      		  {% unless forloop.last %}&nbsp;{% endunless %}
      		  {% endfor %}
          </p>
      		</div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
