---
---

//
// IMPORTS
//

@import 'reset';
@import 'variables';
@import 'fonts';
// Syntax highlighting @import is at the bottom of this file

//
// BASE RULES
//

html {
  font-size: 100%;
}

body {
  background-color: $base-background-color;
	color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * 1.1;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $heading-font-color;
  font-weight: $medium-font-weight;
  line-height: $heading-line-height;
  margin: 1em 0 15px;
  padding: 0;
  text-rendering: optimizeLegibility;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: $base-font-size * 1.5;

  a {
    color: inherit;
  }
}

h2 {
  font-size: $base-font-size * 1.3;
  margin-bottom: $base-line-height * 0.8;
}

h3 {
  font-size: $base-font-size * 1.1;
}

h4 {
  font-size: $base-font-size * 1.05;
  color: $gray;
}

p {
  color: $base-font-color;
  font-size: $base-font-size;
  font-weight: $regular-font-weight;
  margin: 15px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  -webkit-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 150ms ease;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
}

a:hover {
  color: $action-color;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $light-gray;
}

::selection {
  color: $black;
  background: $light-gray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

//
// LAYOUT / SECTIONS
//

//
// .masthead
//

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $light-gray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $heading-font-color;
  cursor: pointer;
  font-family: $heading-font-family;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: left;
  margin-top: 0px;
  margin-left: 2px;
  font-family: $heading-font-family;
  font-size: $nav-font-size;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-right: 10px;
    color: $dark-gray;
    text-align: right;
    font-weight: $nav-font-weight;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.social {
  margin-top: -20px;
  float: right;

  @include mobile {
    float: none;
    margin: 3px 0;
  }
}

// home page
.posts > .post {
  border-bottom: 1px solid $light-gray;
  display: flex;

  @include mobile {
    display: block !important;
    padding-bottom: 15px !important;
  }

  div {
    flex: 1;
  }

  .post-image {
    float: left;
    clear: left;
    margin: 36px 10px 3px 0;
    max-width: 150px;

    @include mobile {
      margin-top: 0 !important;

      img {
        max-height: 45px !important;
        width: 84px;
        clear: left;
      }
    }
  }

  .post-content {
    h1 {
      margin-bottom: 0;
      line-height: 1.2;
      .post-title a {
        color: $heading-font-color;
      }
    }

    .entry-date {
      line-height: normal;
      margin-top: 0.5em;
      font-size: 1rem;
    }

    .entry, .entry-date, h1 {
      overflow: hidden;
    }

    .entry {

      .post-summary {
        a {
          color: $base-font-color;
          text-decoration: underline;
        }

        a:hover {
          color: $action-color;
        }
      }

      .post-categories {
        a {
          color: $action-color;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    @include mobile {
      .entry {
        display: none;
      }

      h1 {
        font-size: 15px;
        font-weight: 900;
        line-height: 1.2;
      }

      time {
        font-size: 12px;
      }
    }
  }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: 0;
}


// within a post
.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: .1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .post-heading {
    text-align: center;

    .meta {
      .entry-date {
        margin-right: 1.5rem;
        font-size: 1.1rem
      }

      .post-categories {
        font-size: 1rem;
        font-weight: 500;
        a {
          color: $action-color;
          text-decoration: none;
        }
      }

      // put date and category on same line
      .post-categories, .entry-date {
        display: inline-block;
      }
    }
  }

  .featured-image {
    display: block;
    margin: 0 auto;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  .entry {
    p, li {
      // These are technically the same, but use both
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      // This is the dangerous one in WebKit, as it breaks things wherever
      // word-break: break-all;
      // Instead use this non-standard one:
      word-break: break-word;

      // Adds a hyphen where the word breaks, if supported (No Blink)
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    a {
      color: $base-font-color;
      text-decoration: underline;
    }

    a:hover {
      color: $action-color;
    }

    * img {
      display: block;
      margin: 0 auto;
    }

    .emoji {
      display: inline;

    }

    .iframe {
      position: relative;
      height: 0;
      overflow: hidden;
    }

    // 16x9 Aspect Ratio
    .iframe-16x9 {
      padding-bottom: 56.25%;
    }

    // 4x3 Aspect Ratio
    .iframe-4x3 {
      padding-bottom: 75%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

figure {
  img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    font-style: italic;
    text-align: center;
    font-size: 85%;
  }
}


.wrapper-footer {
  margin-top: 15px;
  border-top: 1px solid $lighter-gray;
  border-bottom: 1px solid $lighter-gray;
  background-color: $light-gray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import 'highlights';
@import 'svg-icons';
@import 'table';
