{% capture imagePath %}/images/{{page.images}}/{{include.path}}{% endcapture %}
{% if include.caption %}
<p>
  <figure>
    <a href="{{imagePath}}"><img src="{{imagePath}}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/></a>
    <figcaption>{{ include.caption }}</figcaption>
  </figure>
</p>
{% else %}
  <img src="{{imagePath}}" {% if include.alt %} alt="{{imagePath}}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
{% endif %}
