@media screen and (max-width: 400px) {
  .entry {
    display: none;
  }

  img {
    width: 84px;
  }

  h1 {
    clear: none;
    font-size: 15px;
    font-weight:900;
    line-height: 1.2;
  }
}

.post {
  img {
    margin: 0 10px 3px 0;
    float: left;
    max-width: 150px;
    max-height: 150px;
  }

  .entry {
    overflow: hidden;
  }
}