@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .posts {
    .post {

      display: block !important;
      padding-bottom: 15px !important;

      

      .post-content {
        .entry {
          display: none;
        }
        h1 {
          font-size: 15px;
          font-weight:900;
          line-height: 1.2;
        }
        time {
          font-size: 12px;
        }
      }
      .post-image {
        margin-top: 0 !important;
        img {
          max-height: 45px !important;
          width: 84px;
          clear: left;
        }
      }
    }
  }
}

.wrapper-masthead {
    margin-bottom: 0;
}
.wrapper-footer {
  margin-top: 0;
}

.posts {
  .post {
    display: flex;

    div { flex:1; }

    .post-image {
      float: left;
      clear: left;
      margin: 36px 10px 3px 0;
      max-width: 150px;
    }
    
    .post-content {
      h1 {
        margin-bottom: 0;
        line-height: 1.2;
      }

      .entry, .entry-date, h1 {
        overflow: hidden;
      }
    }
  }
}