tt, code, kbd, samp, pre, .highlight {
  font-family: Monaco,Consolas,"Lucida Console",monospace;
  font-size: .9em;
}

pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  color: $white;
  padding-top: .1rem;
  padding-bottom: .1rem;
  font-size: .9em;
  background: $code-background;
  border-radius: 5px;

  &:before, &:after {
    letter-spacing: -.2em;
    content: '\00a0'; // non-breaking space
  }
}

.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal; // horizontal scrolling
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 10px 0;
  padding-left: 10px;
  background: $code-background;
  color: $white;
  font-size: .8em;


  .gutter {
    padding-right: 5px;

    .lineno {
      border-right: 1px solid $line-numbers-border;
      color: $white;
      padding-right: 5px;
    }
  }

  .gh {color: $code-heading;}
  .sr {color: $code-string-regex;}
  .go {color: $code-generic-output;}
  .gp {color: $code-generic-prompt;}
  .gu {color: $code-generic-subheading;}
  .nb {color: $code-name-builtin;}
  .cm {color: $code-comment;}
  .cp {color: $code-comment;}
  .c1 {color: $code-comment;}
  .cs {color: $code-comment;}
  .c, .cd {color: $code-comment;}
  .err {color: $code-error;}
  .gr {color: $code-error;}
  .gt {color: $code-error;}
  .gd {color: $code-generic-ins-del-emp;}
  .gi {color: $code-generic-ins-del-emp;}
  .ge {color: $code-generic-ins-del-emp;}
  .kc {color: $code-keyword;}
  .kd {color: $code-keyword;}
  .kr {color: $code-keyword;}
  .no {color: $code-keyword;}
  .kt {color: $code-keyword;}
  .mf {color: $code-number-char-symbol;}
  .mh {color: $code-number-char-symbol;}
  .il {color: $code-number-char-symbol;}
  .mi {color: $code-number-char-symbol;}
  .mo {color: $code-number-char-symbol;}
  .m, .mb, .mx {color: $code-number-char-symbol;}
  .sc {color: $code-number-char-symbol;}
  .se {color: $code-number-char-symbol;}
  .ss {color: $code-number-char-symbol;}
  .sd {color: $code-string;}
  .s2 {color: $code-string;}
  .sb {color: $code-string;}
  .sh {color: $code-string;}
  .si {color: $code-string;}
  .sx {color: $code-string;}
  .s1 {color: $code-string;}
  .s {color: $code-string;}
  .na {color: $code-name;}
  .nc {color: $code-name;}
  .nd {color: $code-name;}
  .ne {color: $code-name;}
  .nf {color: $code-name;}
  .vc { color: $white;}
  .nn {color: $white;}
  .nl {color: $white;}
  .ni {color: $white;}
  .bp {color: $white;}
  .vg {color: $white;}
  .vi {color: $white;}
  .nv {color: $white;}
  .w {color: $white;}
  .n, .py, .nx {color: $white;}
  .ow {color: $code-operator-keyword;}
  .nt {color: $code-operator-keyword;}
  .k, .kv {color: $code-operator-keyword;}
  .kn {color: $code-operator-keyword;}
  .kp {color: $code-operator-keyword;}
  .o {color: $code-operator-keyword;}
}

// GitHub Gists

//Remove extra padding
.gist table {
  margin-top: 0;
}

//Remove hover effect
.gist tbody {
  background-color: $white; //Background color white

  tr:hover > td, tr:hover > th {
    background-color: transparent;
  }
}
