/* ==========================================================================
   TABLES
   ========================================================================== */

.post > table {

  margin-bottom: 1em;
  width: 100%;
  font-size: 0.8em !important;
  font-family: $verdana;
  border-collapse: collapse;
  border: 1px solid mix(#fff, #7a8288, 50%);

  & + table {
    margin-top: 1em;
  }

  thead {
    background-color: mix(#fff, #7a8288, 90%);
    border-bottom: 1px solid mix(#fff, #7a8288, 90%);
  }

  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    border-right: 1px solid mix(#fff, #7a8288, 50%);
  }

  td {
    padding: 0.5em;
    border-bottom: 1px solid mix(#fff, #7a8288, 50%);
    border-right: 1px solid mix(#fff, #7a8288, 50%);
  }

  tr, td, th {
    vertical-align: middle;
  }
}
