//
// TABLES
//

.entry > table {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  font-size: .8em !important;
  font-family: $verdana;
  border-collapse: collapse;
  border: $gray-mix;

  thead {
    background-color: $white-mix;
    border-bottom: 1px solid $white-mix;
  }

  th {
    padding: .5em;
    font-weight: bold;
    text-align: left;
    border-right: $gray-mix;
  }

  td {
    padding: .5em;
    border-bottom: $gray-mix;
    border-right: $gray-mix;
  }

  tr, td, th {
    vertical-align: middle;
  }
}
